mat-dialog-actions {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

mat-form-field {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 0px;
}

input{
    width: 100%;
}

.my-row{
    padding-bottom: 25px;
}

.alert{
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    position: absolute;
}