mat-dialog-actions {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

mat-form-field {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 0px;
}