    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{data?.Title | titlecase | SymbolsRemovePipe }} </h4>
    </div>
    <div class="modal-body">

    <div class="my-row">
      <div>Movie Name:</div>
      <div>
          <input type="text"  [(ngModel)]="data.Title"  value="{{data?.Title | titlecase | SymbolsRemovePipe }}" required  #Title="ngModel"> 
          <div *ngIf="Title.errors && (Title.dirty || Title.touched)" class="alert alert-danger">
            <div [hidden]="!Title.errors.required">Required!</div>
          </div>
      </div>
    </div>
      
    <div class="my-row">
      <div>Movie Id: </div>
      <div>
        <input matInput type="text"  [(ngModel)]="data.imdbID" value="{{data?.imdbID}}" required  #imdbID="ngModel">
        <div *ngIf="imdbID.errors && (imdbID.dirty || imdbID.touched)" class="alert alert-danger">
          <div [hidden]="!imdbID.errors.required">Required!</div>
        </div> 
      </div>
    </div> 

    <div class="my-row">
        <div>Movie Year:</div> 
        <div> 
          <input matInput type="text" [(ngModel)]="data.Year" value="{{data?.Year}}" required  pattern="[1-2][0-9][0-9][0-9]" #Year="ngModel">
          <div *ngIf="Year.errors && (Year.dirty || Year.touched)" class="alert alert-danger">
              <div [hidden]="!Year.errors.required">Required!</div>
              <div [hidden]="!Year.errors.pattern"> Year format required!</div>
          </div>
      </div>
    </div>

    <div class="my-row">
      <div>Movie Runtime:</div> 
      <div>  
        <input matInput type="text" [(ngModel)]="data.Runtime" value="{{data?.Runtime}}" required  #Runtime="ngModel">
        <div *ngIf="Runtime.errors && (Runtime.dirty || Runtime.touched)" class="alert alert-danger">
          <div [hidden]="!Runtime.errors.required">Required!</div>
        </div>
      </div>
    </div>

    <div class="my-row">
      <div>Movie Genre:</div> 
      <div> 
        <input matInput type="text" [(ngModel)]="data.Genre" value="{{data?.Genre}}" required  #Genre="ngModel">
        <div *ngIf="Genre.errors && (Genre.dirty || Genre.touched)" class="alert alert-danger">
          <div [hidden]="!Genre.errors.required">Required!</div>
        </div>
      </div>
    </div>

    <div class="my-row">
      <div>Movie Director:</div>
      <div>
        <input matInput type="text"  [(ngModel)]="data.Director" value="{{data?.Director}}" required  #Director="ngModel">
        <div *ngIf="Director.errors && (Director.dirty || Director.touched)" class="alert alert-danger">
          <div [hidden]="!Director.errors.required"> Required!</div>
        </div> 
      </div>
    </div>
             
  


    <div class="modal-footer">
       <button class='btn btn-outline-dark'
        (click)="close()">
          Cancel
        </button>
        
        <button class='btn btn-outline-dark'
        (click)='Save()' [disabled]="Title.errors || imdbID.errors || Year.errors || Runtime.errors || Genre.errors ||Director.errors">
          Save
        </button>
    </div>