

.movieCardWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0 30px;
}

.movieCard{
    flex: 1 0 20%; /* explanation below */
    margin: 5px;
    margin-top: 30px
}


.user-actions{
    padding: 10px 30px;
}