<a class="btn btn-primary btn-lg" style="margin-left: 30px" (click)="AddMovie()"> Add Movie</a>

<div class="user-actions">
  
        <div>
           <label>Filter by:</label>
            <label style="margin-left: 10px">Name:</label>
              <input type='text' style="margin-left: 10px" 
              [(ngModel)]='MovieNameFilter' />
              <label style="margin-left: 10px">Year:</label>          
              <input type='text' style="margin-left: 10px"
              [(ngModel)]='MovieYearFilter' />                   
         
          <button class='btn btn-outline-dark' style="margin-left: 10px"
          (click)='SearchMovies()'>
            Search
          </button>
        </div>


        </div>
      <div class="movieCardWrapper" >
        <div *ngFor='let movie of filteredMovies ' class="movieCard">
            <div><pm-movie [imdbID]='movie.imdbID' [Title]='movie.Title' [Year]='movie.Year' [Poster]='movie.Poster' [filteredMovies]='filteredMovies'></pm-movie> </div>
            <div>
                <button class="btn btn-outline-dark" mat-raised-button (click)="SearchMovie(movie)">Edit Movie</button>
                <button class="btn btn-outline-dark" mat-raised-button (click)="Delete(movie)">Delete Movie</button>
              </div>
        </div>
    </div>
